<!DOCTYPE html>
<html lang="es">
  <head>
    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h3>Resumen de tu Reserva</h3>
      <p>Restaurante: <%= restaurant %></p>
      <p>Fecha: <%= fecha %></p>
      <p>Hora: <%= hora %></p>

      <h4>Platos Seleccionados:</h4>
      <ul>
        <% if (platos && platos.length > 0) { %> <% platos.forEach(plato => { %>
        <li>
          <%= plato.cantidad %> x <%= plato.nombre %> - Precio: $<%=
          plato.precio %>
        </li>
        <% }) %> <% } else { %>
        <li>No hay platos seleccionados.</li>
        <% } %>
      </ul>

      <h4>Precio Total: $<%= total %></h4>

      <script src="https://www.paypal.com/sdk/js?client-id=<%=paypalClientId%>&currency=USD"></script>

      <div id="paypal-button-container"></div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        paypal
          .Buttons({
            createOrder: function (data, actions) {
              return actions.order.create({
                purchase_units: [
                  {
                    amount: {
                      value: "<%= total %>",
                    },
                  },
                ],
              });
            },
            onApprove: function (data, actions) {
              return actions.order.capture().then(function (details) {
                fetch("/capture-order", {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify({
                    orderID: data.orderID,
                    fecha: "<%= fecha %>",
                    hora: "<%= hora %>",
                    id_restaurante: "<%= id_restaurante %>",
                    total: "<%= total %>", // Solo se envía el total y los datos necesarios
                  }),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    console.log("Respuesta del servidor:", data); // 🔥 Ver qué devuelve la API

                    if (data.success) {
                      alert(data.message);
                      window.location.href = "/user/mis-pedidos";
                    } else {
                      alert("Error en el pago o la reserva. Intente de nuevo.");
                    }
                  })
                  .catch((error) => {
                    console.error("Error capturado:", error);
                    alert("Error en el pago o la reserva. Intente de nuevo.");
                  });
              });
            },
            onError: function (err) {
              console.error("PayPal Payment Error:", err);
            },
          })
          .render("#paypal-button-container");
      });
    </script>
  </body>
</html>
